<footer id="footer" class="bg-slate-800 text-white lg:px-48 px-4 py-20">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="mb-4 md:mb-0">
      <img
        class="w-20 h-20"
        src="../../../assets/images/logo_small.png"
        alt=""
      />
      <p class="text-[18px] my-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero
        praesentium cupiditate, optio id nesciunt quia debitis nostrum
        blanditiis aperiam tempora!
      </p>
    </div>
    <div>
      <h2 class="text-[22px] font-semibold text-indigo-800 py-2 uppercase">
        Services
      </h2>
      <ul class="text-[16px] my-4">
        <li class="my-2">Project Manager</li>
        <li class="my-2">Tech Leader</li>
        <li class="my-2">Web Development</li>
        <li class="my-2">Mobile Development</li>
      </ul>
    </div>
    <div class="mb-4 md:mb-0">
      <h2 class="text-[22px] font-semibold text-indigo-800 py-2 uppercase">
        Contact
      </h2>
      <a href="mailto:dhdmanufacturing@gmail.com">
        <p class="text-[16px] my-4">Email: dhdmanufacturing@gmail.com</p>
      </a>

      <a
        class="text-white hover:text-indigo-800 transition-all duration-150 ease-in-out"
        href="https://wa.me/33626724969"
      >
        <p class="text-[16px] my-4">
          <fa-icon style="font-size: 30px" [icon]="faWhatsapp"></fa-icon>
        </p>
      </a>
    </div>
    <div>
      <h2 class="text-[22px] font-semibold text-indigo-800 py-2 uppercase">
        follow me
      </h2>
      <div class="flex space-x-4">
        <a
          class="text-white hover:text-indigo-800 transition-all duration-150 ease-in-out"
          href="https://github.com/ddhuissier"
        >
          <fa-icon style="font-size: 30px" [icon]="faGitHub"></fa-icon>
        </a>
        <a
          class="text-white hover:text-indigo-800 transition-all duration-150 ease-in-out"
          href="https://linkedin.com/in/davy-d-huissier"
        >
          <fa-icon style="font-size: 30px" [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
